---
import "../styles/navbar.scss";
import Hamburger from "./Hamburger.astro";
---

<header>
    <nav
        class="d-flex align-items-center justify-content-center position-relative navBarContainer py-2 px-5 bone-bg"
    >
        <div class="d-flex align-items-center">
            <Hamburger />
            <a href="/" class="Name"
                >Localizacion y Distribucion de Plantas Industriales</a
            >
        </div>

        <div class="navLinks">
            <a href="/">Inicio</a>
            <a href="/Articulos/">Articulos</a>
        </div>
    </nav>
</header>
